<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.dao.MaliciousCodeMapper">

	<resultMap type="com.bigdata.beans.MaliciousCode" id="maliciousCodeMapper">
		<id column="codeId" property="codeId" />
		<result column="codeName" property="codeName" />
		<result column="codeDescribe" property="codeDescribe" />
	</resultMap>

	<sql id="columns">
		(codeName, codeDescribe)
	</sql>
	
	<!-- 通过 codeId 获取数据库表 <MaliciousCode> 信息: public MaliciousCode getMaliciousCodeById(Integer codeId); -->
	<select id="getMaliciousCodeById" resultType="com.bigdata.beans.MaliciousCode">
		select * from MaliciousCode where codeId = #{codeId}
	</select>
	
	<!-- 通过 MaliciousCode 对象属性筛选数据库表 <MaliciousCode> 信息: public List<MaliciousCode> getMaliciousCodeForListByEntity(MaliciousCode maliciousCode); -->
	<select id="getMaliciousCodeForListByEntity" resultType="com.bigdata.beans.MaliciousCode">
		select * from MaliciousCode
		<where>
			1 = 1
			<if test="codeId != null">
				and codeId = #{codeId}
			</if>
			<if test="codeName != null">
				and codeName = #{codeName}
			</if>
			<if test="codeDescribe != null">
				and codeDescribe = #{codeDescribe}
			</if>
		</where>
	</select>
	
	<!-- 通过 MaliciousCode 对象信息精准查询数据库表中信息: public MaliciousCode getMaliciousCodeByEntity(MaliciousCode maliciousCode); -->
	<select id="getMaliciousCodeByEntity" resultType="com.bigdata.beans.MaliciousCode">
		select * from MaliciousCode
		<where>
			1 = 1
			<if test="codeId != null">
				and codeId = #{codeId}
			</if>
			<if test="codeName != null">
				and codeName = #{codeName}
			</if>
			<if test="codeDescribe != null">
				and codeDescribe = #{codeDescribe}
			</if>
			limit 1
		</where>
	</select>
	
	<!-- 获取所有数据库表 <MaliciousCode> 所有信息: public List<MaliciousCode> getAllMaliciousCode(); -->
	<select id="getAllMaliciousCode" resultType="com.bigdata.beans.MaliciousCode">
		select * from MaliciousCode
	</select>
	
	<!-- 添加 MaliciousCode 信息: public int addMaliciousCode(MaliciousCode maliciousCode); -->
	<insert id="addMaliciousCode">
		insert into MaliciousCode
		<include refid="columns" />
		values
		(#{codeName}, #{codeDescribe})
	</insert>
	
	<!-- 通过 codeId 删除数据库表 <MaliciousCode> 指定信息: public void deleteMaliciousCodeById(Integer codeId); -->
	<delete id="deleteMaliciousCodeById">
		delete from MaliciousCode where codeId = #{codeId}
	</delete>

</mapper>