<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.dao.TaskOwnerMapper">

	<resultMap type="com.bigdata.beans.TaskOwner" id="taskOwnerMapper">
		<id column="taskOwnerId" property="taskOwnerId" />
		<result column="macAddress" property="macAddress" />
		<result column="configversion" property="configversion" />
		
		<collection property="taskManagementList" ofType="com.bigdata.beans.TaskOwner">
			<!-- 定义这个集合中元素的封装规则 -->
			<!-- column 对应数据库列名	property 对应 bean 属性名 -->
			<id column="taskId" property="taskId" />
			<result column="devIP" property="devIP" />
			<result column="status" property="status" />
			<result column="describe" property="describe" />
			<result column="addTime" property="addTime" />
		</collection>
	</resultMap>

	<sql id="columns">
		(macAddress, configversion)
	</sql>
	
	<!-- 通过 taskOwnerId 获取 TaskOwner 对象信息: public TaskOwner getTaskOwnerById(Integer taskOwnerId); -->
	<select id="getTaskOwnerById" resultMap="taskOwnerMapper">
		select * from TaskOwner to, TaskManagement tm
		<where>
			to.taskOwnerId = tw.ownerId
			and taskOwnerId = #{taskOwnerId}
		</where>
	</select>
	
	<!-- 通过 TaskOwner 对象属性获取 TaskOwner 对象信息: public TaskOwner getTaskOwnerByEntity(TaskOwner taskOwner); -->
	<select id="getTaskOwnerById" resultMap="taskOwnerMapper">
		select * from TaskOwner to, TaskManagement tm
		<where>
			to.taskOwnerId = tw.ownerId
			<if test="taskOwnerId != null">
				and taskOwnerId = #{taskOwnerId}
			</if>
			<if test="macAddress != null">
				and macAddress = #{macAddress}
			</if>
			<if test="configversion != null">
				and configversion = #{configversion}
			</if>
		</where>
	</select>
	
	<!-- 添加 TaskOwner 对象到 <TaskOwner> 表中, 并返回主键值: public int addTaskOwner(TaskOwner taskOwner); -->
	<insert id="addTaskOwner">
		insert into TaskOwner
		<include refid="columns" />
		values
		(#{taskOwnerId}, #{macAddress}, #{configversion})
	</insert>
	
	<!-- 通过 taskOwnerId 删除指定 TaskOwner 对象: public void deleteTaskOwnerById(Integer taskOwnerId); -->
	<delete id="deleteTaskOwnerById">
		delete from TaskOwner where taskOwnerId = #{taskOwnerId}
	</delete>
	
	<!-- 获取所有 TaskOwner 对象信息: public List<TaskOwner> getAllTaskOwner(); -->
	<select id="getAllTaskOwner" resultMap="taskOwnerMapper">
		select * from TaskOwner to, TaskManagement tm
		<where>
			to.taskOwnerId = tm.ownerId
		</where>
	</select>
	
	<!-- 通过 TaskOwner 对象属性查询 <TaskOwner> 表中信息, 并返回列表: public List<TaskOwner> getTaskOwnerByEntityForLike(TaskOwner taskOwner); -->
	<select id="getTaskOwnerByEntityForLike" resultMap="taskOwnerMapper">
		select * from TaskOwner to, TaskManagement tm
		<where>
			to.taskOwnerId = tm.ownerId
			<if test="taskOwnerId != null">
				and taskOwnerId = #{taskOwnerId}
			</if>
			<if test="macAddress != null">
				and macAddress like CONCAT(CONCAT('%', #{macAddress}, '%'))
			</if>
			<if test="configversion != null">
				and configversion like CONCAT(CONCAT('%', #{configversion}, '%'))
			</if>
		</where>
	</select>
	
	<!-- 更新 <TaskOwner> 表中信息: public void updateTaskOwner(TaskOwner taskOwner); -->
	<update id="updateHostInfByEntity">
		update TaskOwner
		<trim prefix="set" suffixOverrides=",">
			<if test="macAddress != null">
				macAddress = #{macAddress},
			</if>
			<if test="configversion != null">
				configversion = #{configversion},
			</if>
	 	</trim>
		<where>
			taskOwnerId = #{taskOwnerId}
		</where>
	</update>

</mapper>